@use "./constants/colors.scss" as colors;


/* apple font */
body {
	/* georgia */
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: "Custom Gill Sans";
}

main {
	/* flex box */
	display: flex;
	flex-direction: column;
	/* min height 100% */
	min-height: 100vh;
}


a {
	font-family: "Custom Gill Sans";
}

p {
	font-family: "Custom Gill Sans Light";
}
li {
	font-family: "Custom Gill Sans Light";
}

h1 {
	font-size: 40px;
        // reduce top and bottom margin to 20px and 10px
        margin-top: 50px;
		margin-bottom: 10px;
		color: colors.$accent-background;
		text-align: center;
        margin-left: auto;
        margin-right: auto;
}

h2 {
	color: colors.$dull-accent-background;
	margin-top: 50px;
	margin-bottom: 0;
}

h3 {
	font-size: 20px;	
	color: colors.$dull-accent-background;
	margin: 50px 0 10px 0;
	// underline
	// text-decoration: underline;
}

h4 {
	font-size: 16px;
	font-family: "Custom Gill Sans Light";
	// no margin
	padding: 0;
	margin: 0;
	// underline
	text-decoration: underline;
}

